In [1]:
#Q1

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('/content/AKC Breed Info.csv')
df2 = pd.read_csv('dog_intelligence.csv')

In [4]:
df1.head()

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,0,Akita,26,28,80,120
1,1,Anatolian Sheepdog,27,29,100,150
2,2,Bernese Mountain Dog,23,27,85,110
3,3,Bloodhound,24,26,80,120
4,4,Borzoi,26,28,70,100

In [5]:
df2.head()

   index              Breed  Classification obey  reps_lower  reps_upper
0      0      Border Collie  Brightest Dogs  95%           1           4
1      1             Poodle  Brightest Dogs  95%           1           4
2      2    German Shepherd  Brightest Dogs  95%           1           4
3      3   Golden Retriever  Brightest Dogs  95%           1           4
4      4  Doberman Pinscher  Brightest Dogs  95%           1           4

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               150 non-null    int64
 1   Breed               150 non-null    object
 2   height_low_inches   150 non-null    object
 3   height_high_inches  150 non-null    object
 4   weight_low_lbs      150 non-null    object
 5   weight_high_lbs     150 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.2+ KB

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           136 non-null    int64
 1   Breed           136 non-null    object
 2   Classification  136 non-null    object
 3   obey            125 non-null    object
 4   reps_lower      136 non-null    int64
 5   reps_upper      136 non-null    int64
dtypes: int64(3), object(3)
memory usage: 6.5+ KB

In [8]:
df2['obey']

0      95%
1      95%
2      95%
3      95%
4      95%
      ...
131    NaN
132    NaN
133    NaN
134    NaN
135    NaN
Name: obey, Length: 136, dtype: object

In [9]:
import math
import numpy as np

In [10]:
#Q2

In [11]:
df2.obey = df2.obey.fillna('n')

In [12]:
obey_percentage = []
for i in range(len(df2)):
  if df2['obey'][i] == 'n':
    continue
  else:
    obey_percentage.append(int(df2['obey'][i][:-1]))
    df2['obey'][i] = df2['obey'][i][:-1]

<ipython-input-12-36b2d8b77ac8>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['obey'][i] = df2['obey'][i][:-1]

In [13]:
mop = sum(obey_percentage)/len(obey_percentage)

In [14]:
df2['obey'].replace('n', mop, inplace = True)

In [15]:
df2

,index,Breed,Classification,obey,reps_lower,reps_upper
0,0,Border Collie,Brightest Dogs,95,1,4
1,1,Poodle,Brightest Dogs,95,1,4
2,2,German Shepherd,Brightest Dogs,95,1,4
3,3,Golden Retriever,Brightest Dogs,95,1,4
4,4,Doberman Pinscher,Brightest Dogs,95,1,4
...,...,...,...,...,...,...
131,131,Borzoi,Lowest Degree of Working/Obedience Intelligence,60.76,81,100
132,132,Chow Chow,Lowest Degree of Working/Obedience Intelligence,60.76,81,100
133,133,Bulldog,Lowest Degree of Working/Obedience Intelligence,60.76,81,100
134,134,Basenji,Lowest Degree of Working/Obedience Intelligence,60.76,81,100
135,135,Afghan Hound,Lowest Degree of Working/Obedience Intelligence,60.76,81,100

In [16]:
#Q3

In [17]:
df = df1.merge(df2, left_on = 'Breed', right_on = 'Breed', how = 'outer')

In [18]:
df

,index_x,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,index_y,Classification,obey,reps_lower,reps_upper
0,0.0,Akita,26,28,80,120,102.0,Average Working/Obedience Intelligence,50,26.0,40.0
1,1.0,Anatolian Sheepdog,27,29,100,150,NaN,NaN,NaN,NaN,NaN
2,2.0,Bernese Mountain Dog,23,27,85,110,26.0,Excellent Working Dogs,85,5.0,15.0
3,3.0,Bloodhound,24,26,80,120,130.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0
4,4.0,Borzoi,26,28,70,100,131.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...
176,NaN,Petit Basset Griffon Vend̩en,NaN,NaN,NaN,NaN,113.0,Fair Working/Obedience Intelligence,30,41.0,80.0
177,NaN,Old English Sheepdog,NaN,NaN,NaN,NaN,117.0,Fair Working/Obedience Intelligence,30,41.0,80.0
178,NaN,Lhasa Apso,NaN,NaN,NaN,NaN,123.0,Fair Working/Obedience Intelligence,30,41.0,80.0
179,NaN,Pekingese,NaN,NaN,NaN,NaN,129.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0
180,NaN,Bulldog,NaN,NaN,NaN,NaN,133.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0

In [19]:
df.to_csv('dog_info_combined.csv')

In [20]:
dftest = df.copy()

In [21]:
df.drop(['index_x','index_y'], inplace=True, axis=1)
df.dropna(inplace=True, axis=0)

In [22]:
df

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper
0,Akita,26,28,80,120,Average Working/Obedience Intelligence,50,26.0,40.0
2,Bernese Mountain Dog,23,27,85,110,Excellent Working Dogs,85,5.0,15.0
3,Bloodhound,24,26,80,120,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0
4,Borzoi,26,28,70,100,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0
5,Bullmastiff,25,27,100,130,Fair Working/Obedience Intelligence,30,41.0,80.0
...,...,...,...,...,...,...,...,...,...
142,Japanese Chin,8,11,4,11,Fair Working/Obedience Intelligence,30,41.0,80.0
143,Maltese,8,10,4,6,Fair Working/Obedience Intelligence,30,41.0,80.0
145,Papillon,8,11,5,10,Brightest Dogs,95,1.0,4.0
146,Pomeranian,12,12,3,7,Excellent Working Dogs,85,5.0,15.0
149,Yorkshire Terrier,8,8,3,7,Above Average Working Dogs,70,16.0,25.0

In [23]:
df['height_high_inches'][18]

'na'

In [24]:
df = df.drop(18)

In [25]:
#Q4

In [26]:
from collections import Counter

In [27]:
uclass = np.array(df['Classification'])

In [28]:
ubreed = np.array(dftest['Breed'])

In [29]:
ub = Counter(ubreed).keys()
uvalb = Counter(ubreed).values()

In [30]:
uc = Counter(uclass).keys()
uval = Counter(uclass).values()

In [31]:
uc

dict_keys(['Average Working/Obedience Intelligence', 'Excellent Working Dogs', 'Lowest Degree of Working/Obedience Intelligence ', 'Fair Working/Obedience Intelligence', 'Above Average Working Dogs', 'Brightest Dogs'])

In [32]:
uval

dict_values([33, 14, 9, 17, 24, 7])

In [33]:
#Q5

In [34]:
df

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper
0,Akita,26,28,80,120,Average Working/Obedience Intelligence,50,26.0,40.0
2,Bernese Mountain Dog,23,27,85,110,Excellent Working Dogs,85,5.0,15.0
3,Bloodhound,24,26,80,120,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0
4,Borzoi,26,28,70,100,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0
5,Bullmastiff,25,27,100,130,Fair Working/Obedience Intelligence,30,41.0,80.0
...,...,...,...,...,...,...,...,...,...
142,Japanese Chin,8,11,4,11,Fair Working/Obedience Intelligence,30,41.0,80.0
143,Maltese,8,10,4,6,Fair Working/Obedience Intelligence,30,41.0,80.0
145,Papillon,8,11,5,10,Brightest Dogs,95,1.0,4.0
146,Pomeranian,12,12,3,7,Excellent Working Dogs,85,5.0,15.0
149,Yorkshire Terrier,8,8,3,7,Above Average Working Dogs,70,16.0,25.0

In [35]:
dtype = {"height_low_inches": float, "height_high_inches": float, "weight_low_lbs": float, "weight_high_lbs": float, "obey": float}
df = df.astype(dtype)

In [36]:
df_class = df.groupby('Classification', as_index = False)

In [37]:
df_class.first()

,Classification,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,obey,reps_lower,reps_upper
0,Above Average Working Dogs,Newfoundland,26.0,28.0,100.0,150.0,70.00,16.0,25.0
1,Average Working/Obedience Intelligence,Akita,26.0,28.0,80.0,120.0,50.00,26.0,40.0
2,Brightest Dogs,Rottweiler,22.0,27.0,90.0,110.0,95.00,1.0,4.0
3,Excellent Working Dogs,Bernese Mountain Dog,23.0,27.0,85.0,110.0,85.00,5.0,15.0
4,Fair Working/Obedience Intelligence,Bullmastiff,25.0,27.0,100.0,130.0,30.00,41.0,80.0
5,Lowest Degree of Working/Obedience Intelligence,Bloodhound,24.0,26.0,80.0,120.0,60.76,81.0,100.0

In [38]:
dfc1 = df_class.get_group('Average Working/Obedience Intelligence')
dfc2 = df_class.get_group('Excellent Working Dogs')
dfc3 = df_class.get_group('Lowest Degree of Working/Obedience Intelligence ')
dfc4 = df_class.get_group('Fair Working/Obedience Intelligence')
dfc5 = df_class.get_group('Above Average Working Dogs')
dfc6 = df_class.get_group('Brightest Dogs')

In [39]:
print('Average Working/Obedience Intelligence',':',len(dfc1))
print('Excellent Working Dogs',':', len(dfc2))
print('Lowest Degree of Working/Obedience Intelligence ',':', len(dfc3))
print('Fair Working/Obedience Intelligence',':', len(dfc4))
print('Above Average Working Dogs',':',len(dfc5))
print('Brightest Dogs',':',len(dfc6))

Average Working/Obedience Intelligence : 33
Excellent Working Dogs : 14
Lowest Degree of Working/Obedience Intelligence  : 9
Fair Working/Obedience Intelligence : 17
Above Average Working Dogs : 24
Brightest Dogs : 7

In [40]:
df.groupby('Breed').mean()

,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,obey,reps_lower,reps_upper
Breed,,,,,,,
Affenpinscher,9.0,12.0,8.0,12.0,70.00,16.0,25.0
Afghan Hound,25.0,27.0,50.0,60.0,60.76,81.0,100.0
Akita,26.0,28.0,80.0,120.0,50.00,26.0,40.0
American Foxhound,22.0,25.0,65.0,70.0,50.00,26.0,40.0
American Staffordshire Terrier,17.0,19.0,40.0,50.0,70.00,16.0,25.0
...,...,...,...,...,...,...,...
Welsh Terrier,15.0,15.0,20.0,21.0,50.00,26.0,40.0
West Highland White Terrier,11.0,11.0,13.0,15.0,50.00,26.0,40.0
Whippet,18.0,22.0,27.0,30.0,50.00,26.0,40.0
Wirehaired Pointing Griffon,20.0,24.0,45.0,60.0,50.00,26.0,40.0
Yorkshire Terrier,8.0,8.0,3.0,7.0,70.00,16.0,25.0

In [41]:
df.groupby('Breed').min()

,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper
Breed,,,,,,,,
Affenpinscher,9.0,12.0,8.0,12.0,Above Average Working Dogs,70.00,16.0,25.0
Afghan Hound,25.0,27.0,50.0,60.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0
Akita,26.0,28.0,80.0,120.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
American Foxhound,22.0,25.0,65.0,70.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
American Staffordshire Terrier,17.0,19.0,40.0,50.0,Above Average Working Dogs,70.00,16.0,25.0
...,...,...,...,...,...,...,...,...
Welsh Terrier,15.0,15.0,20.0,21.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
West Highland White Terrier,11.0,11.0,13.0,15.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
Whippet,18.0,22.0,27.0,30.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
Wirehaired Pointing Griffon,20.0,24.0,45.0,60.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
Yorkshire Terrier,8.0,8.0,3.0,7.0,Above Average Working Dogs,70.00,16.0,25.0

In [42]:
df.groupby('Breed').max()

,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper
Breed,,,,,,,,
Affenpinscher,9.0,12.0,8.0,12.0,Above Average Working Dogs,70.00,16.0,25.0
Afghan Hound,25.0,27.0,50.0,60.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0
Akita,26.0,28.0,80.0,120.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
American Foxhound,22.0,25.0,65.0,70.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
American Staffordshire Terrier,17.0,19.0,40.0,50.0,Above Average Working Dogs,70.00,16.0,25.0
...,...,...,...,...,...,...,...,...
Welsh Terrier,15.0,15.0,20.0,21.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
West Highland White Terrier,11.0,11.0,13.0,15.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
Whippet,18.0,22.0,27.0,30.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
Wirehaired Pointing Griffon,20.0,24.0,45.0,60.0,Average Working/Obedience Intelligence,50.00,26.0,40.0
Yorkshire Terrier,8.0,8.0,3.0,7.0,Above Average Working Dogs,70.00,16.0,25.0

In [43]:
df = df.reset_index()

In [44]:
avg_height = [0]*len(df)
avg_weight = [0]*len(df)
for i in range(len(df)):
  avg_height[i] = (df['height_high_inches'][i]+df['height_low_inches'][i])/2
  avg_weight[i] = (df['weight_high_lbs'][i]+df['weight_low_lbs'][i])/2

In [45]:
df['avg_height'] = avg_height
df['avg_weight'] = avg_weight

In [46]:
df

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight
0,0,Akita,26.0,28.0,80.0,120.0,Average Working/Obedience Intelligence,50.00,26.0,40.0,27.0,100.0
1,2,Bernese Mountain Dog,23.0,27.0,85.0,110.0,Excellent Working Dogs,85.00,5.0,15.0,25.0,97.5
2,3,Bloodhound,24.0,26.0,80.0,120.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,25.0,100.0
3,4,Borzoi,26.0,28.0,70.0,100.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,27.0,85.0
4,5,Bullmastiff,25.0,27.0,100.0,130.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,26.0,115.0
...,...,...,...,...,...,...,...,...,...,...,...,...
99,142,Japanese Chin,8.0,11.0,4.0,11.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,9.5,7.5
100,143,Maltese,8.0,10.0,4.0,6.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,9.0,5.0
101,145,Papillon,8.0,11.0,5.0,10.0,Brightest Dogs,95.00,1.0,4.0,9.5,7.5
102,146,Pomeranian,12.0,12.0,3.0,7.0,Excellent Working Dogs,85.00,5.0,15.0,12.0,5.0
103,149,Yorkshire Terrier,8.0,8.0,3.0,7.0,Above Average Working Dogs,70.00,16.0,25.0,8.0,5.0

In [47]:
df.sort_values(by=['avg_height'])

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight
96,139,Chihuahua,6.0,9.0,2.0,5.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,7.5,3.5
103,149,Yorkshire Terrier,8.0,8.0,3.0,7.0,Above Average Working Dogs,70.00,16.0,25.0,8.0,5.0
78,112,Dachshund,7.0,10.0,16.0,32.0,Average Working/Obedience Intelligence,50.00,26.0,40.0,8.5,24.0
100,143,Maltese,8.0,10.0,4.0,6.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,9.0,5.0
88,130,Shih Tzu,8.0,11.0,9.0,16.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,9.5,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...
6,7,Great Pyrenees,27.0,32.0,95.0,120.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,29.5,107.5
34,49,Scottish Deerhound,28.0,32.0,75.0,110.0,Average Working/Obedience Intelligence,50.00,26.0,40.0,30.0,92.5
7,9,Irish Wolfhound,28.0,35.0,90.0,150.0,Average Working/Obedience Intelligence,50.00,26.0,40.0,31.5,120.0
5,6,Great Dane,32.0,32.0,120.0,160.0,Average Working/Obedience Intelligence,50.00,26.0,40.0,32.0,140.0
65,96,Vizsla,48.0,66.0,22.0,25.0,Excellent Working Dogs,85.00,5.0,15.0,57.0,23.5

In [48]:
df.sort_values(by=['avg_weight'])

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight
96,139,Chihuahua,6.0,9.0,2.0,5.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,7.5,3.5
103,149,Yorkshire Terrier,8.0,8.0,3.0,7.0,Above Average Working Dogs,70.00,16.0,25.0,8.0,5.0
100,143,Maltese,8.0,10.0,4.0,6.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,9.0,5.0
102,146,Pomeranian,12.0,12.0,3.0,7.0,Excellent Working Dogs,85.00,5.0,15.0,12.0,5.0
101,145,Papillon,8.0,11.0,5.0,10.0,Brightest Dogs,95.00,1.0,4.0,9.5,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...
7,9,Irish Wolfhound,28.0,35.0,90.0,150.0,Average Working/Obedience Intelligence,50.00,26.0,40.0,31.5,120.0
10,13,Newfoundland,26.0,28.0,100.0,150.0,Above Average Working Dogs,70.00,16.0,25.0,27.0,125.0
5,6,Great Dane,32.0,32.0,120.0,160.0,Average Working/Obedience Intelligence,50.00,26.0,40.0,32.0,140.0
12,16,Saint Bernard,25.0,28.0,110.0,190.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,26.5,150.0
9,11,Mastiff,27.0,30.0,175.0,190.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,28.5,182.5

In [49]:
#Q6 and #Q7

In [50]:
df.reset_index()
h_var = [0]*len(df)
w_var = [0]*len(df)
reps_var = [0]*len(df)
for i in range(len(df)):
  h_var[i] = (df['height_high_inches'][i]-df['height_low_inches'][i])/(df['height_high_inches'][i]+df['height_low_inches'][i])
  w_var[i] = (df['weight_high_lbs'][i]-df['weight_low_lbs'][i])/(df['weight_high_lbs'][i]+df['weight_low_lbs'][i])
  reps_var[i] = (df['reps_upper'][i]-df['reps_lower'][i])/(df['reps_upper'][i]+df['reps_lower'][i])

In [51]:
df['h_var'] = h_var
df['w_var'] = w_var
df['reps_var'] = reps_var

In [52]:
df

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight,h_var,w_var,reps_var
0,0,Akita,26.0,28.0,80.0,120.0,Average Working/Obedience Intelligence,50.00,26.0,40.0,27.0,100.0,0.037037,0.200000,0.212121
1,2,Bernese Mountain Dog,23.0,27.0,85.0,110.0,Excellent Working Dogs,85.00,5.0,15.0,25.0,97.5,0.080000,0.128205,0.500000
2,3,Bloodhound,24.0,26.0,80.0,120.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,25.0,100.0,0.040000,0.200000,0.104972
3,4,Borzoi,26.0,28.0,70.0,100.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,27.0,85.0,0.037037,0.176471,0.104972
4,5,Bullmastiff,25.0,27.0,100.0,130.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,26.0,115.0,0.038462,0.130435,0.322314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,142,Japanese Chin,8.0,11.0,4.0,11.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,9.5,7.5,0.157895,0.466667,0.322314
100,143,Maltese,8.0,10.0,4.0,6.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,9.0,5.0,0.111111,0.200000,0.322314
101,145,Papillon,8.0,11.0,5.0,10.0,Brightest Dogs,95.00,1.0,4.0,9.5,7.5,0.157895,0.333333,0.600000
102,146,Pomeranian,12.0,12.0,3.0,7.0,Excellent Working Dogs,85.00,5.0,15.0,12.0,5.0,0.000000,0.400000,0.500000
103,149,Yorkshire Terrier,8.0,8.0,3.0,7.0,Above Average Working Dogs,70.00,16.0,25.0,8.0,5.0,0.000000,0.400000,0.219512

In [53]:
#Q8

In [54]:
df.sort_values(by=['h_var'])

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight,h_var,w_var,reps_var
103,149,Yorkshire Terrier,8.0,8.0,3.0,7.0,Above Average Working Dogs,70.0,16.0,25.0,8.0,5.0,0.000000,0.400000,0.219512
48,70,English Springer Spaniel,20.0,20.0,45.0,55.0,Excellent Working Dogs,85.0,5.0,15.0,20.0,50.0,0.000000,0.100000,0.500000
49,71,Field Spaniel,18.0,18.0,35.0,50.0,Above Average Working Dogs,70.0,16.0,25.0,18.0,42.5,0.000000,0.176471,0.219512
102,146,Pomeranian,12.0,12.0,3.0,7.0,Excellent Working Dogs,85.0,5.0,15.0,12.0,5.0,0.000000,0.400000,0.500000
68,100,Australian Terrier,10.0,10.0,10.0,14.0,Above Average Working Dogs,70.0,16.0,25.0,10.0,12.0,0.000000,0.166667,0.219512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,145,Papillon,8.0,11.0,5.0,10.0,Brightest Dogs,95.0,1.0,4.0,9.5,7.5,0.157895,0.333333,0.600000
78,112,Dachshund,7.0,10.0,16.0,32.0,Average Working/Obedience Intelligence,50.0,26.0,40.0,8.5,24.0,0.176471,0.333333,0.212121
96,139,Chihuahua,6.0,9.0,2.0,5.0,Fair Working/Obedience Intelligence,30.0,41.0,80.0,7.5,3.5,0.200000,0.428571,0.322314
77,110,Cavalier King Charles Spaniel,10.0,15.0,15.0,20.0,Average Working/Obedience Intelligence,50.0,26.0,40.0,12.5,17.5,0.200000,0.142857,0.212121
53,77,Irish Water Spaniel,10.0,23.0,45.0,65.0,Excellent Working Dogs,85.0,5.0,15.0,16.5,55.0,0.393939,0.181818,0.500000

In [55]:
df.sort_values(by=['h_var'])

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight,h_var,w_var,reps_var
103,149,Yorkshire Terrier,8.0,8.0,3.0,7.0,Above Average Working Dogs,70.0,16.0,25.0,8.0,5.0,0.000000,0.400000,0.219512
48,70,English Springer Spaniel,20.0,20.0,45.0,55.0,Excellent Working Dogs,85.0,5.0,15.0,20.0,50.0,0.000000,0.100000,0.500000
49,71,Field Spaniel,18.0,18.0,35.0,50.0,Above Average Working Dogs,70.0,16.0,25.0,18.0,42.5,0.000000,0.176471,0.219512
102,146,Pomeranian,12.0,12.0,3.0,7.0,Excellent Working Dogs,85.0,5.0,15.0,12.0,5.0,0.000000,0.400000,0.500000
68,100,Australian Terrier,10.0,10.0,10.0,14.0,Above Average Working Dogs,70.0,16.0,25.0,10.0,12.0,0.000000,0.166667,0.219512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,145,Papillon,8.0,11.0,5.0,10.0,Brightest Dogs,95.0,1.0,4.0,9.5,7.5,0.157895,0.333333,0.600000
78,112,Dachshund,7.0,10.0,16.0,32.0,Average Working/Obedience Intelligence,50.0,26.0,40.0,8.5,24.0,0.176471,0.333333,0.212121
96,139,Chihuahua,6.0,9.0,2.0,5.0,Fair Working/Obedience Intelligence,30.0,41.0,80.0,7.5,3.5,0.200000,0.428571,0.322314
77,110,Cavalier King Charles Spaniel,10.0,15.0,15.0,20.0,Average Working/Obedience Intelligence,50.0,26.0,40.0,12.5,17.5,0.200000,0.142857,0.212121
53,77,Irish Water Spaniel,10.0,23.0,45.0,65.0,Excellent Working Dogs,85.0,5.0,15.0,16.5,55.0,0.393939,0.181818,0.500000

In [56]:
df.sort_values(by=['reps_var'])

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight,h_var,w_var,reps_var
9,11,Mastiff,27.0,30.0,175.0,190.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,28.5,182.5,0.052632,0.041096,0.104972
70,102,Beagle,13.0,16.0,18.0,30.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,14.5,24.0,0.103448,0.250000,0.104972
2,3,Bloodhound,24.0,26.0,80.0,120.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,25.0,100.0,0.040000,0.200000,0.104972
3,4,Borzoi,26.0,28.0,70.0,100.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,27.0,85.0,0.037037,0.176471,0.104972
40,58,Basset Hound,14.0,14.0,40.0,50.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,14.0,45.0,0.000000,0.111111,0.104972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,15,Rottweiler,22.0,27.0,90.0,110.0,Brightest Dogs,95.00,1.0,4.0,24.5,100.0,0.102041,0.100000,0.600000
42,60,Border Collie,19.0,21.0,40.0,40.0,Brightest Dogs,95.00,1.0,4.0,20.0,40.0,0.050000,0.000000,0.600000
28,40,Golden Retriever,21.0,24.0,55.0,75.0,Brightest Dogs,95.00,1.0,4.0,22.5,65.0,0.066667,0.153846,0.600000
38,56,Australian Cattle Dog,17.0,20.0,35.0,45.0,Brightest Dogs,95.00,1.0,4.0,18.5,40.0,0.081081,0.125000,0.600000
32,45,Labrador Retriever,21.0,24.0,55.0,80.0,Brightest Dogs,95.00,1.0,4.0,22.5,67.5,0.066667,0.185185,0.600000

In [57]:
#Q9

In [58]:
df.groupby('Classification').mean()

,index,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,obey,reps_lower,reps_upper,avg_height,avg_weight,h_var,w_var,reps_var
Classification,,,,,,,,,,,,,
Above Average Working Dogs,72.958333,18.125000,20.666667,40.083333,55.250000,70.00,16.0,25.0,19.395833,47.666667,0.063711,0.163240,0.219512
Average Working/Obedience Intelligence,72.000000,19.136364,22.045455,43.606061,59.545455,50.00,26.0,40.0,20.590909,51.575758,0.072841,0.155998,0.212121
Brightest Dogs,56.285714,19.142857,22.142857,48.571429,65.714286,95.00,1.0,4.0,20.642857,57.142857,0.080198,0.163909,0.600000
Excellent Working Dogs,70.714286,19.500000,24.142857,41.071429,53.071429,85.00,5.0,15.0,21.821429,47.071429,0.101687,0.145607,0.500000
Fair Working/Obedience Intelligence,105.176471,14.176471,16.411765,30.058824,42.882353,30.00,41.0,80.0,15.294118,36.470588,0.077952,0.204514,0.322314
Lowest Degree of Working/Obedience Intelligence,54.666667,19.222222,21.222222,56.333333,71.444444,60.76,81.0,100.0,20.222222,63.888889,0.055849,0.144134,0.104972

In [59]:
df.groupby('Classification').std()

,index,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,obey,reps_lower,reps_upper,avg_height,avg_weight,h_var,w_var,reps_var
Classification,,,,,,,,,,,,,
Above Average Working Dogs,36.911739,5.269374,6.119581,22.393549,30.989830,0.0,0.0,0.0,5.656814,26.290462,0.039405,0.094875,0.0
Average Working/Obedience Intelligence,41.967994,6.279024,6.910549,27.025381,38.152728,0.0,0.0,0.0,6.538892,32.216824,0.048504,0.097738,0.0
Brightest Dogs,41.879646,5.639993,5.698789,26.095064,35.640400,0.0,0.0,0.0,5.647376,30.496877,0.040116,0.107343,0.0
Excellent Working Dogs,41.605156,9.661581,13.254068,22.761182,28.829644,0.0,0.0,0.0,11.321537,25.611639,0.096809,0.097128,0.0
Fair Working/Obedience Intelligence,49.390327,6.550146,7.297764,36.063261,53.357148,0.0,0.0,0.0,6.887622,44.501921,0.055474,0.132906,0.0
Lowest Degree of Working/Obedience Intelligence,48.430362,6.704062,6.906116,50.366159,56.265245,0.0,0.0,0.0,6.778233,53.054676,0.050169,0.086340,0.0

In [60]:
#Q10

In [61]:
avg_repetions = (df['reps_lower'].mean()+df['reps_upper'].mean())/2
print(avg_repetions)

34.4375

In [62]:
avg_reps = [0]*len(df)
for i in range(len(df)):
  avg_reps[i] = (df['reps_lower'][i]+df['reps_upper'][i])/2
df['avg_reps'] = avg_reps

In [63]:
#Q11

In [64]:
df.sort_values(by=['avg_reps'])

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight,h_var,w_var,reps_var,avg_reps
32,45,Labrador Retriever,21.0,24.0,55.0,80.0,Brightest Dogs,95.00,1.0,4.0,22.5,67.5,0.066667,0.185185,0.600000,2.5
28,40,Golden Retriever,21.0,24.0,55.0,75.0,Brightest Dogs,95.00,1.0,4.0,22.5,65.0,0.066667,0.153846,0.600000,2.5
101,145,Papillon,8.0,11.0,5.0,10.0,Brightest Dogs,95.00,1.0,4.0,9.5,7.5,0.157895,0.333333,0.600000,2.5
38,56,Australian Cattle Dog,17.0,20.0,35.0,45.0,Brightest Dogs,95.00,1.0,4.0,18.5,40.0,0.081081,0.125000,0.600000,2.5
22,33,Doberman Pinscher,26.0,28.0,60.0,100.0,Brightest Dogs,95.00,1.0,4.0,27.0,80.0,0.037037,0.250000,0.600000,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,17,Afghan Hound,25.0,27.0,50.0,60.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,26.0,55.0,0.038462,0.090909,0.104972,90.5
40,58,Basset Hound,14.0,14.0,40.0,50.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,14.0,45.0,0.000000,0.111111,0.104972,90.5
69,101,Basenji,17.0,17.0,20.0,22.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,17.0,21.0,0.000000,0.047619,0.104972,90.5
2,3,Bloodhound,24.0,26.0,80.0,120.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,25.0,100.0,0.040000,0.200000,0.104972,90.5
70,102,Beagle,13.0,16.0,18.0,30.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,14.5,24.0,0.103448,0.250000,0.104972,90.5

In [65]:
#Q12,Q13 and Q14

In [66]:
linear_density = [0]*len(df)
for i in range(len(df)):
  linear_density[i] = df['avg_height'][i]/df['avg_weight'][i]
df['linear_density'] = linear_density

In [67]:
df

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight,h_var,w_var,reps_var,avg_reps,linear_density
0,0,Akita,26.0,28.0,80.0,120.0,Average Working/Obedience Intelligence,50.00,26.0,40.0,27.0,100.0,0.037037,0.200000,0.212121,33.0,0.270000
1,2,Bernese Mountain Dog,23.0,27.0,85.0,110.0,Excellent Working Dogs,85.00,5.0,15.0,25.0,97.5,0.080000,0.128205,0.500000,10.0,0.256410
2,3,Bloodhound,24.0,26.0,80.0,120.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,25.0,100.0,0.040000,0.200000,0.104972,90.5,0.250000
3,4,Borzoi,26.0,28.0,70.0,100.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,27.0,85.0,0.037037,0.176471,0.104972,90.5,0.317647
4,5,Bullmastiff,25.0,27.0,100.0,130.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,26.0,115.0,0.038462,0.130435,0.322314,60.5,0.226087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,142,Japanese Chin,8.0,11.0,4.0,11.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,9.5,7.5,0.157895,0.466667,0.322314,60.5,1.266667
100,143,Maltese,8.0,10.0,4.0,6.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,9.0,5.0,0.111111,0.200000,0.322314,60.5,1.800000
101,145,Papillon,8.0,11.0,5.0,10.0,Brightest Dogs,95.00,1.0,4.0,9.5,7.5,0.157895,0.333333,0.600000,2.5,1.266667
102,146,Pomeranian,12.0,12.0,3.0,7.0,Excellent Working Dogs,85.00,5.0,15.0,12.0,5.0,0.000000,0.400000,0.500000,10.0,2.400000
103,149,Yorkshire Terrier,8.0,8.0,3.0,7.0,Above Average Working Dogs,70.00,16.0,25.0,8.0,5.0,0.000000,0.400000,0.219512,20.5,1.600000

In [68]:
df.sort_values(by=['obey'])

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight,h_var,w_var,reps_var,avg_reps,linear_density
82,123,Pug,10.0,11.0,14.0,22.0,Fair Working/Obedience Intelligence,30.0,41.0,80.0,10.5,18.0,0.047619,0.222222,0.322314,60.5,0.583333
79,113,Dandie Dinmont Terrier,18.0,24.0,8.0,11.0,Fair Working/Obedience Intelligence,30.0,41.0,80.0,21.0,9.5,0.142857,0.157895,0.322314,60.5,2.210526
80,117,French Bulldog,11.0,12.0,17.0,28.0,Fair Working/Obedience Intelligence,30.0,41.0,80.0,11.5,22.5,0.043478,0.244444,0.322314,60.5,0.511111
81,120,Lakeland Terrier,13.0,14.0,15.0,17.0,Fair Working/Obedience Intelligence,30.0,41.0,80.0,13.5,16.0,0.037037,0.062500,0.322314,60.5,0.843750
44,63,Bull Terrier,21.0,22.0,50.0,70.0,Fair Working/Obedience Intelligence,30.0,41.0,80.0,21.5,60.0,0.023256,0.166667,0.322314,60.5,0.358333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,33,Doberman Pinscher,26.0,28.0,60.0,100.0,Brightest Dogs,95.0,1.0,4.0,27.0,80.0,0.037037,0.250000,0.600000,2.5,0.337500
28,40,Golden Retriever,21.0,24.0,55.0,75.0,Brightest Dogs,95.0,1.0,4.0,22.5,65.0,0.066667,0.153846,0.600000,2.5,0.346154
42,60,Border Collie,19.0,21.0,40.0,40.0,Brightest Dogs,95.0,1.0,4.0,20.0,40.0,0.050000,0.000000,0.600000,2.5,0.500000
101,145,Papillon,8.0,11.0,5.0,10.0,Brightest Dogs,95.0,1.0,4.0,9.5,7.5,0.157895,0.333333,0.600000,2.5,1.266667
38,56,Australian Cattle Dog,17.0,20.0,35.0,45.0,Brightest Dogs,95.0,1.0,4.0,18.5,40.0,0.081081,0.125000,0.600000,2.5,0.462500

In [69]:
df.sort_values(by=['linear_density'])

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper,avg_height,avg_weight,h_var,w_var,reps_var,avg_reps,linear_density
9,11,Mastiff,27.0,30.0,175.0,190.0,Lowest Degree of Working/Obedience Intelligence,60.76,81.0,100.0,28.5,182.5,0.052632,0.041096,0.104972,90.5,0.156164
12,16,Saint Bernard,25.0,28.0,110.0,190.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,26.5,150.0,0.056604,0.266667,0.322314,60.5,0.176667
10,13,Newfoundland,26.0,28.0,100.0,150.0,Above Average Working Dogs,70.00,16.0,25.0,27.0,125.0,0.037037,0.200000,0.219512,20.5,0.216000
4,5,Bullmastiff,25.0,27.0,100.0,130.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,26.0,115.0,0.038462,0.130435,0.322314,60.5,0.226087
5,6,Great Dane,32.0,32.0,120.0,160.0,Average Working/Obedience Intelligence,50.00,26.0,40.0,32.0,140.0,0.000000,0.142857,0.212121,33.0,0.228571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,143,Maltese,8.0,10.0,4.0,6.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,9.0,5.0,0.111111,0.200000,0.322314,60.5,1.800000
96,139,Chihuahua,6.0,9.0,2.0,5.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,7.5,3.5,0.200000,0.428571,0.322314,60.5,2.142857
79,113,Dandie Dinmont Terrier,18.0,24.0,8.0,11.0,Fair Working/Obedience Intelligence,30.00,41.0,80.0,21.0,9.5,0.142857,0.157895,0.322314,60.5,2.210526
102,146,Pomeranian,12.0,12.0,3.0,7.0,Excellent Working Dogs,85.00,5.0,15.0,12.0,5.0,0.000000,0.400000,0.500000,10.0,2.400000
65,96,Vizsla,48.0,66.0,22.0,25.0,Excellent Working Dogs,85.00,5.0,15.0,57.0,23.5,0.157895,0.063830,0.500000,10.0,2.425532

In [70]:
#Q15

In [71]:
df.to_csv('dogs_analysis.csv')